# Ignore Python virtual environments
venv/
.venv/
env/
ENV/

# Optional: common Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Optional: editor folders
.vscode/
.idea/

# Ignore Jupyter Notebook checkpoints
jupyter files/

# Ignore minitest files
test_date_thingy.py
test_enrich.py
test_loading_etl.py
test_time.py